<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/documentmanagement" text="Atrás" icon="arrow-back" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" fill="outline" (click)="openCamera()">Tomar foto</ion-button><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides class="image-slider" pager="true" [options]="slidesOpts">
    <ion-slide *ngFor="let item of photos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]='item.base64' imageViewer /><br />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" fill="outline" (click)="deleteItemFiles(item.file_id)">Remover</ion-button>
            <br /><br />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <br />
  <ion-row>
    <ion-col>
      <ion-button expand="full" *ngIf="existPhotos" fill="outline" (click)="updateData()">Enviar fotos</ion-button>
      <br /><br />
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header *ngIf="!existPhotos" text-uppercase>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
      with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
      software like Aldus PageMaker including versions of Lorem Ipsum.
    </ion-list-header>
  </ion-list>

</ion-content>