<ion-content>
  <div padding class="loginContent">
    <ion-card no-margin margin-top class="loginCard">
      <ion-card-header class="cardHeader">
        <ion-card-title class="headerText">Iniciar sesión
        </ion-card-title>
      </ion-card-header>

      <ion-card-content no-padding padding-top class="cardContents">
        <ion-list>
          <ion-item lines="none">
            <ion-input class="placeholdertext inputField" type="text" placeholder="mi@email.com" [(ngModel)]="email"
              padding-start clearInput></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input class="placeholdertext inputField" type="password" placeholder="Contraseña" [(ngModel)]="password"
              padding-start clearInput></ion-input>
          </ion-item>
          <div padding-vertical padding-horizontal>
            <ion-button color="dark" expand="block" [disabled]="disabled" class="btnSubmit" (click)="login()">Ingresar
              <span *ngIf="spinner">
                <ion-spinner name="lines"></ion-spinner>
              </span>
            </ion-button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div text-center (click)="register()" class="footerBottomText">
      <ion-label >No tienes una cuenta? <b>Crear cuenta</b></ion-label>
    </div>
  </div>
</ion-content>