<!-- <ion-header>
  <ion-toolbar>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding text-center>
  <div class="locationSection">
    <img src="assets/locations.png" alt="" class="liveTrackingImg">
    <div margin-bottom>
      <h1 class="textBold">Habilita tu ubicación</h1>
      <span class="textsliderfont">Elija su ubicación para comenzar a encontrar solicitudes a su alrededor</span>
    </div>
    <div padding-vertical padding-horizontal margin-horizontal margin-vertical>
      <ion-button color="primary" class="textSmall lightTextColor textBold" (click)="locationTracking()" text-uppercase>Usar mi ubicacion</ion-button>
    </div>
    <div padding-horizontal margin-horizontal>
      <ion-button fill="clear" class="textSmall lightTextColor" (click)="skip()">Omitir por ahora</ion-button>
    </div>
  </div>
</ion-content>