/**
 * Roof On (https://www.ennapd.com/ionDriver)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #EF9032;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #000;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e9c121;
  --ion-color-primary-tint: #f8cc1c;

  /** secondary **/
  --ion-color-secondary: #FF8A00;
  --ion-color-secondary-rgb: 255, 138, 0;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #E98615;
  --ion-color-secondary-tint: #FF8A00;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #e0c8c8;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #F6F6F6;
  --ion-color-light-rgb: 246, 246, 246;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /**Font Family**/
  --ion-font-family: 'PT Sans', sans-serif;
}


/******Hide map Extra Content*****/
.gmnoprint {
  display: none !important;
}
/****** Hide map Extra Content*****/


/********Custom Css******/


ion-header ion-toolbar {
  --background:#EF9032;
}
.header-md:after{
  background-image :none !important;
} 
.textBold{
  font-weight: bold;
}

.contentBgColor{
  --background : #F0F4F9 !important;
  background: #F0F4F9 !important;
}

ion-header ion-toolbar{
  text-align: center !important;
  margin-right: 32px !important;
}
.textBold{
  font-weight: bold;
}

.textColor{
  color:#000;
}
.boxShadow{
  --box-shadow: none !important;
}
.relative{
  position: relative;
}

.fontSmall{
  font-size: 10px;
}
.fontmid{
  font-size: 20px;
}

.dFlex{
  display: flex;
}

.lightTextColor{
 color: #CDD0D9
}

.borderBottom{
  border-bottom: 1px solid #e8e4e4;
}

.iconFontSize{
  font-size: 26px;
}

.paddingVertical{
  padding: 10px 0px;
}
.textWhite{
  color:#fff;
}

.textMid{
  font-size: 20px;
}


.contentBgColor{
  --background : #F0F1F2 !important;
}

.bgWhite{
  background: #fff;
}
ion-menu-button.button.ion-activatable {
  color: #000;
}

.sc-ion-modal-md-h {
  margin-top: 13%;
}

.card-Chip{
  font-size: 11px;
  --border-radius: 18px;
  height: 1.8em;
}

.sc-ion-back-button-ios-h{
  color:#000;
}

.cardContents{
  background: #fff;
}

/*---Social Share css---*/
.whatsappIcon{
  --color: #25D366;
}
.fbIcon{
  --color: #3C5A99;
}
.skypeIcon{
  --color: #00aff0;
}
.twitterIcon{
  --color: #38A1F3;
}
.otherIcon{
  --color: #00aff0;
}
/*---End of Social Share---*/

/********End of Custom Css******/
