<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content class="contentBg">
        <!--Profile-->
        <div class="driverCardBottom">
          <ion-card no-padding no-margin slot="fixed" class="driverCard fixed" color="primary">
            <ion-item lines="none" color="primary" padding-vertical class="driverProfileDetails" (click)="profile()">
              <div class="driverProfileImage">
                <ion-avatar slot="start" class="profile">
                  <img [src]="auth.loggedInUser.profileImg" />
                </ion-avatar>
                <div margin-start>
                  <h3 class="textBold userName" no-margin>{{auth.loggedInUser.name}}</h3>
                  <span class="lightTextColor drivermemberType userDetails">
                    <ion-icon name="star"></ion-icon>{{auth.loggedInUser.memberType}} Member
                  </span>
                </div>
              </div>
            </ion-item>

            <ion-card-content no-margin no-padding>
              <div class="cardContent">
                <div class="driverDetails">
                  <ion-icon name="time" class="driverStatusIcons"></ion-icon>
                  <ion-label class="textColor textBold detailsLabel">{{auth.loggedInUser.hoursConected}}</ion-label>
                  <p text-uppercase class="detailText ">Hours Online</p>
                </div>
                <div class="driverDetails">
                  <ion-icon name="speedometer" class="driverStatusIcons"></ion-icon>
                  <ion-label text-uppercase class="textColor textBold detailsLabel">{{auth.loggedInUser.totalDistance}} KM</ion-label>
                  <p text-uppercase class="detailText">Total Distance</p>
                </div>
                <div class="driverDetails">
                  <ion-icon name="time" class="driverStatusIcons"></ion-icon>
                  <ion-label class="textColor textBold detailsLabel">{{auth.loggedInUser.totalJobs}}</ion-label>
                  <p text-uppercase class="detailText">Total Jobs</p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <!--End of Profile-->

        <ion-list lines="none" padding-top>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" (click)="checkPage(p)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main [swipeGesture]="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>