<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title text-center color="dark">Invite Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="invite_img_center">
        <ion-img src="assets/img/grou.png" class="invite_image"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  <!-- <div class="invite_img_center"> -->
  <ion-label text-center>
    <h2>Invite Friends</h2>
    <h3 padding-bottom>Earn up to <b>$150</b> a day</h3>
  </ion-label>
  <!-- </div> -->

  <ion-label padding-vertical>
    <p text-center text-wrap padding-top class="invite_par">When your friend sign up with your referal code, you can
      receive up to $150 a
      day.</p>
  </ion-label>

  <ion-list>
    <ion-list-header text-uppercase>Share your invite code</ion-list-header>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="button_black">070ADshadM196</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" class="button_yellow" routerLink="/invitefriends">Invite</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>