<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center color="dark">
      Pagos
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="walletPage" (ionChange)="segmentChanged($event)" color="dark">
      <ion-segment-button value="cash" checked color="dark">Efectivo</ion-segment-button>
      <ion-segment-button value="discount" color="dark">Descuentos</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="walletPage">
    <div *ngSwitchCase="'cash'">
      <ion-grid class="cash_Detail">
        <ion-row>
          <ion-col size="12" text-center>
            <h1 class="font_sizeh1"> $ 325.00</h1>
            <p>TOTAL EARN</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card class="wallet_card" routerLink="/paymentmethod">
        <ion-item class="no_borderbottom">
          <ion-avatar style="background: var(--ion-color-warning)" slot="start" class="abs_avatar">
            <ion-img src="assets/img/dollar.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Metodo de pago</h2>
          </ion-label>
          <ion-icon name="arrow-forward" slot="end" expand="icon-only"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-list class="list_paddintTop">
        <ion-list-header>
          <ion-label>
            <p text-uppercase>Payment History</p>
          </ion-label>
        </ion-list-header>

        <ion-card>
          <ion-item *ngFor="let item of data">
            <ion-avatar style="background:var(--ion-color-warning)" slot="start">
              <ion-img src={{item.image}}></ion-img>
            </ion-avatar>
            <ion-label>
              <h3 text-capitalize>{{item.name}}</h3>
              <div class="amount_wallet">
                <p color="medium">#125452</p>
                <h3> {{item.amount}}</h3>
              </div>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-list>

    </div>

    <div *ngSwitchCase="'discount'">
      <ion-card>
        <ion-item>
          <ion-label>
            <p> No hay descuentos </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>