<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás" icon="arrow-back" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="editProfile()">
      <ion-button>
        <ion-label color="dark" text-capitalize>Editar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" class="contentBgColor">
  <div class="profileHeader bgWhite" margin-bottom>
    <ion-avatar class="profileImage">
      <img [src]="user.profileImg" />
    </ion-avatar>
    <h5 class="textBold" no-margin>{{user.username}}</h5>
    <span class="drivermemberType" padding-bottom>Miembro {{user.memberType}}</span>
  </div>

  <ion-label text-uppercase color="medium" padding-start margin-top> Informacion</ion-label>
  <ion-list no-margin margin-top>
    <!---Phone Number--->
    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" no-margin>Nombre</h6>
      <ion-text color="medium" slot="end">{{user.name}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" no-margin>Telefono</h6>
      <ion-text color="medium" slot="end">{{user.phone}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" no-margin>Email</h6>
      <ion-text color="medium" slot="end">{{user.email}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" no-margin>Genero</h6>
      <ion-text color="medium" slot="end">{{user.gender}}</ion-text>
    </ion-item>

    <ion-item lines="none" class="detailsItems">
      <h6 slot="start" no-margin>Nacimiento</h6>
      <ion-text color="medium" slot="end">{{user.birthday}}</ion-text>
    </ion-item>

  </ion-list>

</ion-content>