<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!driveStatus">
      No disponible
    </ion-title>
    <ion-title *ngIf="driveStatus">
      Disponible
    </ion-title>
    <ion-toggle slot="end" [(ngModel)]="driveStatus" (ionChange)="driverStatusChange($event, true)" color="danger"
      [disabled]="driverService.rideInProgress">
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div *ngIf="!driveStatus">
    <ion-item color="danger">
      <ion-avatar slot="start" class="nightModeIcon">
        <img src="assets/nightMode.png" />
      </ion-avatar>
      <ion-label class="textBold">estas fuera de linea</ion-label>
    </ion-item>
  </div>

  <div>
    <!-- You can show the booked ride full route or just the starting point as your business logic suggests -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
      (mapReady)="mapReady(true, $event)" [styles]="style">
      <agm-marker *ngIf="!driverService.rideInProgress" [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
        [iconUrl]="markerUrl" (dragEnd)="markerDragEnd($event)"></agm-marker>
      <agm-circle *ngIf="!driverService.rideInProgress" [latitude]="lat" [longitude]="lng" [radius]="2000"
        [fillColor]="'#5e21d0'" [circleDraggable]="false" [editable]="false">
      </agm-circle>
      <agm-direction *ngIf="driverService.rideInProgress" [origin]="userData.destination"
        [destination]="userData.origin">
      </agm-direction>
    </agm-map>
  </div>
</ion-content>

<ion-footer *ngIf="!driverService.rideInProgress">
  <div class="driverCardBottom">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="driverlocationIcon" color="dark"
      (click)="getcurrentLocations()">
      <ion-fab-button>
        <ion-icon name="locate" class="locationIcon"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-card no-padding no-margin slot="fixed" class="driverCard fixed">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="auth.loggedInUser.profileImg" />
        </ion-avatar>
        <ion-label text-capitalize> <b>{{auth.loggedInUser.name}}</b></ion-label>
        <span fill="outline" slot="end"> <b>$325.00</b></span>
      </ion-item>

      <ion-card-content color="warning" no-margin>
        <div class="cardContent">
          <div class="driverDetails">
            <ion-icon name="time" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">{{auth.loggedInUser.hoursConected}}</ion-label>
            <p text-uppercase class="detailText ">Horas Conectado</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="speedometer" class="driverStatusIcons"></ion-icon>
            <ion-label text-uppercase class="textColor textBold detailsLabel">{{auth.loggedInUser.totalDistance}} KM</ion-label>
            <p text-uppercase class="detailText">Total Distancia</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="time" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">{{auth.loggedInUser.totalJobs}}</ion-label>
            <p text-uppercase class="detailText">Carreras Realizadas</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>

<ion-footer *ngIf="driverService.rideInProgress">
  <div class="relative">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="userlocationIcon" color="dark" padding-bottom
      (click)="getcurrentLocations()">
      <ion-fab-button>
        <ion-icon name="locate" class="locationIcon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card slot="fixed" class="userCard">
      <ion-card-header color="light" class="userCardHeader dFlex">
        <ion-thumbnail>
          <img src="assets/user.jpeg" class="userIcon" />
        </ion-thumbnail>

        <div padding-horizontal>
          <div>
            <ion-label>{{ userData.name }}</ion-label>
          </div>
          <div class="dFlex" align-items-center>
            <ion-button size="small" color="primary" shape="round" class="card-Chip textBold boxShadow" text-capitalize>
              Apple pay</ion-button>
            <ion-button size="small" color="primary" shape="round" class="card-Chip textBold boxShadow" text-capitalize>
              Discount</ion-button>
          </div>
        </div>

        <div float-right>
          <div>
            <ion-label class="textBold">$ 25.00</ion-label>
          </div>
          <div>
            <ion-label class="textBold lightTextColor nowrap">2.2 KM</ion-label>
          </div>
          <div>
            <ion-button expand="full" fill="clear" color="success" size="small" class="customer_detail_button"
              (click)="goToCustomerDetail()">Detail</ion-button>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content color="light" no-margin class="userCard-conetnt">
        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Pick Up</div>
          <ion-label class="detailsLabel textColor textBold">{{
            userData.origin.lat
          }}</ion-label>
        </div>

        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Drop Off</div>
          <ion-label class="detailsLabel  textColor textBold">{{ userData.destination.lat }}</ion-label>
        </div>

        <div>
          <div class="userCardFooter">
            <ion-button expand="block" color="light" class="textBold boxShadow" (click)="completeRide()">Completar Viaje
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>