<ion-content padding margin-top>
  <div class="fullDiv">
    <ion-card no-margin margin-top class="signupCard">
      <ion-card-header color="primary" class="cardHeader">
        <ion-card-title class="headerText">Crea tu cuenta
        </ion-card-title>
      </ion-card-header>

      <ion-card-content no-padding padding-top class="cardContents">
        <ion-list>
          <ion-item lines="none">
            <ion-input class="placeholdertext inputField" type="text" placeholder="Nombre completo" [(ngModel)]="name"
              autofocus="true" padding-start></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input class="placeholdertext inputField" type="text" placeholder="mi@email.com" [(ngModel)]="email"
              autofocus="true" padding-start></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input class="placeholdertext inputField" type="password" placeholder="Contraseña" [(ngModel)]="password"
              padding-start clearInput></ion-input>
          </ion-item>

          <div padding-vertical padding-horizontal>
            <ion-button color="dark" expand="block" [disabled]="disabled" class="btnSubmit" (click)="register()">Registrarme
              <span *ngIf="spinner">
                <ion-spinner name="lines"></ion-spinner>
              </span>
            </ion-button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div text-center padding-bottom (click)="login()" class="footerBottomText">
      <ion-label>Ya tienes una cuenta? <b>Inicia sesión</b></ion-label>
    </div>
  </div>
</ion-content>